* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

article {
    margin: 10%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 24px;
}

h1 {
    font-size: 42px;
    margin-bottom: 4px;
}

p {
    font-size: 18px;
}

.right.parallax {
    display: flex;
    align-items: center;
    justify-content: right;
}

.left.parallax {
    display: flex;
    align-items: center;
    justify-content: left;
}

.parallax {
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.spacer {
    position: relative;
    height: 16px;
    background-color: white;
    border-radius: 8px;
    margin-top: -8px;
    margin-bottom: -8px;
    width: 45%;
}

.spacer.flipped {
    margin-left: auto;
}

.frog {
    background-image: url(./images/frog.jpg);
    height: 100vh;
}
.snake {
    background-image: url(./images/snake.jpg);
    height: 90vh;
}
.turtle {
    background-image: url(./images/turtle.jpg);
    background-position: top;
    height: 80vh;
}